<% provide(:title, "Sign in") %>

<h2 class="text-center">Welcome</h2>


<div class="fix300 text-center">
<%= form_for(:session, url: sessions_path) do |f| %>
<div class="form-group">
  <%= f.label :email , class: "control-label hidden" %>
  <%= f.text_field :email , class: "form-control", placeholder: :email %>
</div>
<div class="form-group">
  <%= f.label :password , class: "control-label hidden" %>
  <%= f.password_field :password , class: "form-control", placeholder: :password %>
</div>
  <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
<% end %>
  <div class="space"></div>
</div>