<% if @article.errors.any? %>
  <ul>
    <%= @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for @article do |f| %>
  <div class="form-group">
    <%= f.label :title, class: "control-label hidden"  %>
    <%= f.text_field :title ,  class: "form-control" , placeholder: :title %>
  </div>
  <div class="form-group">
    <%= f.label :content , class: "control-label hidden"  %>
    <% f.cktext_area :content, rows: 10 %>
    

    <%= javascript_include_tag "ckeditor/init" %>
    <% f.text_area :content, :class => "ckeditor"  %>



    <%= f.kindeditor :content %>
  </div>
  <div>
    <%= f.submit "Post" , class: "btn btn-large btn-primary" %>
  </div>
<% end %>


<script type="text/javascript">
$(function() { 
  var k = KindEditor.create('#article_content', {
    "width": "100%",
    "height": 600,
    "allowFileManager": true,
    "uploadJson": "/kindeditor/upload",
    "fileManagerJson": "/kindeditor/filemanager",
    "langType" :"en"
  });
  // k.langType = "en";
}); 
</script>