<h1 class="mainpage-title"><%= t("global.publications") %></h1>
<% if signed_in? && current_user.admin? %>
  <div class="full-size-form">
    <%= link_to "New", new_publicationpage_path , class: "btn btn-large btn-primary" if @publicationpages.count < 1 %>
  </div>
<% end %>

<% @publicationpages.each do |publicationpage| %>
  <% if I18n.locale.to_s == publicationpage.language  %>
    <p><%= publicationpage.body.html_safe %></p>
    <% if signed_in? && current_user.admin? %> 
      <%= link_to "Edit", edit_publicationpage_path(publicationpage) , class: "btn" %>
      <%= link_to "Delete", publicationpage, method: :delete, data: { confirm: "You sure?" } ,class: "btn-clear" %>
    <% end %>
  <% end %>
<% end %>

