<h1 class="mainpage-title"><%= t("global.aboutus") %></h1>
<% if signed_in? && current_user.admin? %>
  <div class="full-size-form">
    <%= link_to "New", new_aboutpage_path , class: "btn btn-large btn-primary" if @aboutpages.count < 1 %>
  </div>
<% end %>

<% @aboutpages.each do |aboutpage| %>
  <% if I18n.locale.to_s == aboutpage.language  %>
    <p><%= aboutpage.body.html_safe %></p>
    <% if signed_in? && current_user.admin? %> 
      <%= link_to "Edit", edit_aboutpage_path(aboutpage) , class: "btn" %>
      <%= link_to "Delete", aboutpage, method: :delete, data: { confirm: "You sure?" } ,class: "btn-clear" %>
    <% end %>
  <% end %>
<% end %>

