<ul class="navtabs">
  <li class="navtabs-title">
    <h1><%= t("global.publications") %></h1>
  </li>
  <li ><%= link_to t("global.guangyi"), publicationpages_path %></li>
  <li class="active"><%= t("global.ccs") %></li>
  <li></li>
</ul>


<% if signed_in? && current_user.admin? %>
  <div class="full-size-form">
    <%= link_to "New", new_ccspublication_path , class: "btn btn-large btn-primary" if @ccspublications.count < 1 %>
  </div>
<% end %>

<% @ccspublications.each do |ccspublication| %>
  <% if I18n.locale.to_s == ccspublication.language  %>
    <p><%= ccspublication.body.html_safe %></p>
    <% if signed_in? && current_user.admin? %> 
      <%= link_to "Edit", edit_ccspublication_path(ccspublication) , class: "btn" %>
      <%= link_to "Delete", ccspublication, method: :delete, data: { confirm: "You sure?" } ,class: "btn-clear" %>
    <% end %>
  <% end %>
<% end %>