<% if @specialissue.errors.any? %>
  <ul>
    <%= @specialissue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_for(@specialissue) do |f| %>
  <div class="form-group full-size-form">
    <%= f.label :language, class: "control-label hidden"  %>
    <%= f.text_field :language ,  class: "form-control full-size hidden" , :value => I18n.locale.to_s %>
  </div>
  <div class="form-group full-size-form">
    <%= f.label :title, class: "control-label hidden"  %>
    <%= f.text_field :title ,  class: "form-control full-size", placeholder: "Title" %>
  </div>
  <div class="form-group full-size-form">
    <%= f.label :body , class: "control-label hidden"  %>

    <%= f.kindeditor :body %>
  </div>
  <div>
    <% if action_name == "edit" %> 
      <%= f.submit "Save" , class: "btn btn-large btn-primary" %>
      <%= link_to "Cancel", specialissues_path  %>
    <% end %>
    <%= f.submit "Post" , class: "btn btn-large btn-primary" if action_name == "new" %>
  </div>
<% end %>


<script type="text/javascript">
$(function() { 
  KindEditor.create('#specialissue_body', {
    "width": "100%",
    "height": 600,
    "allowFileManager": true,
    "uploadJson": "/kindeditor/upload",
    "fileManagerJson": "/kindeditor/filemanager",
    "langType" : "en",
    "items" : ["source","|","undo","redo","|","cut","copy","paste","plainpaste","wordpaste","|","justifyleft","justifycenter","justifyright","justifyfull","|","insertorderedlist","insertunorderedlist","|","indent","outdent","subscript","superscript","|","clearhtml","removeformat","|","link","unlink","anchor","|","formatblock","fontname","fontsize","forecolor","hilitecolor","bold","italic","underline","strikethrough","|","image","multiimage","media","insertfile","table"]
  });
}); 
</script>
