<header>
<div class="global-banner"></div>
<div class="navbar">
<ul class="navlist">
  <li><%= link_to t("global.news"), root_path %></li>
  <li><%= link_to t("global.aboutus"), aboutpages_path %></li>
  <li><%= link_to t("global.service"), scopepages_path %></li>
  <li><%= link_to t("global.events"), eventpages_path %></li>
  <li><%= link_to t("global.publications"), publicationpages_path %></li>
  <li>
    <%= link_to( "中文版", :controller => controller.controller_name, 
       :action => controller.action_name, :locale => "zh" ) if I18n.locale == :en  %>
    <%= link_to( "English", :controller => controller.controller_name, 
       :action => controller.action_name, :locale => "en") if I18n.locale != :en %>  
  </li>
   
</ul>
</div>
</header>
