<div class="rightcolumn">
<div class="block">
  <div class="title"><div class="redpt"></div>Links</div>
  <div class="contents">
    <ul>
      <li><a href="http://www.foreign.nccu.edu.tw/"><%= t("rightcolumn.cfll") %></a></li>
      <li><a href="http://flcu.nccu.edu.tw/main.php/"><%= t("rightcolumn.flec") %></a></li>
      <li><a href="http://flc.nccu.edu.tw/"><%= t("rightcolumn.flc") %></a></li>
      <li><a href="http://www.nccu.edu.tw/"><%= t("rightcolumn.nccu") %></a></li>
    </ul>
    </div>
</div>


<div class="block">
  <div class="title"><div class="redpt"></div>Contact Us</div>
  <div class="contents">
    <ul>
      <li><%= t("rightcolumn.address") %></li>
      <li><%= t("rightcolumn.phone") %></li>
      <li><%= t("rightcolumn.fax") %></li>
      <li><%= t("rightcolumn.mail") %><a href="mailto:trans@nccu.edu.tw">trans@nccu.edu.tw</a></li>
    </ul>
    </div>
</div>


</div>